* {
  font-family: consolas;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 75px;
  /* display: flex; */
  /* justify-content: center;
  flex-direction: column;
  overflow-x: hidden; */
  background-color: #ffffff;
}
.logo img {
  width: 8%;
}
.logo > span {
  font-size: x-large;
}
.menu-list a {
  text-decoration: none;
  color: rgb(255, 230, 0);
  font-weight: 700;
}

.menu-list a:hover {
  text-shadow: 0px 2px 2px rgb(255, 255, 255);
}

.menu-list > li > ul {
  display: none;
  background-color: black;
  padding: 1%;
}
.menu-list > li > ul i {
  color: rgb(255, 230, 0);
}
.menu-list li:hover ul {
  display: block;
}
.navbar {
  top: 0;
  width: 90%;
  height: 75px;
  display: flex;
  position: fixed;
  padding: 0 5%;
  transition: 0.5s;
  align-items: center;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  border-bottom: 5px solid #000000;
}

.menu-button {
  position: fixed;
  width: 2rem;
  height: 2rem;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  z-index: 1;
}

.bar {
  width: 2rem;
  height: 2.5px;
  background-color: #ffee00;
  transition: 1.5s;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #ffee00;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.menu-button.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.menu-button.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.menu-button.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.menu {
  position: fixed;
  width: 25%;
  right: 0;
  top: 0;
  padding-top: 75px;
  height: 100vh;
  display: flex;
  transition: 1.5s;
  background-color: rgb(4, 4, 4);
  transform: translateX(100%);
  border-left: 2px solid #ffee00;
}
.show-menu {
  transform: translateX(0);
}

.menu ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.menu-link {
  width: 100%;
  text-decoration: none;
  padding: 0.7rem 0 0.7rem 2rem;
  display: block;
  font-size: 1.2rem;
  border-bottom: 2px solid #000;
  color: rgb(255, 234, 0);
  cursor: pointer;
}

.menu-link:hover {
  border-color: rgb(255, 234, 0);
}

.container {
  position: relative;
  transition: 0.5s;
  width: 90%;
  margin: 0 auto;
}

.block {
  padding: 1rem;
  margin: 2rem 0;
  color: rgb(0, 0, 0);
}
.top-block > p,
.info-block > p {
  font-weight: 600;
  font-size: large;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.top-block > p > img {
  width: 40%;
}
.info-block {
  padding: 5%;
  width: 90%;
  height: 100vh;
  background-color: #ffffff;
}

@media screen and (max-width: 500px) {
  .menu
  {
    width: 100%;
    background-color: rgba(4, 4, 4, 0.722);
  }
  .menu-list > li > ul {
    background-color: rgba(0, 0, 0, 0);
  }
  .top-block > p{
  display: flex;
  flex-direction: column;
}
.top-block>p>img{
width: 100%;
margin: 5% 0;
}
}
